@tailwind base;
@tailwind components;
@tailwind utilities;

$disabled: rgba(106, 111, 109, 0.31);

@layer utilities {
  :disabled {
    filter: opacity(0.5);
    &:hover {
      filter: opacity(0.5);
    }
  }
}


@layer components {
  .btn {
    @apply font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }
  .btn-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .btn-alt-success {
    @apply outline-2 outline text-green-500
    hover:text-white hover:outline-green-500 hover:bg-green-500 focus:ring-green-400
    focus:ring focus:ring-offset-2;
  }
  .btn-secondary {
    @apply text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300
    dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800;
  }
  .btn-alt-danger {
    @apply outline-2 outline text-red-500 bg-white/25
    hover:text-white hover:outline-red-500 hover:bg-red-500 focus:ring-red-400
    focus:ring focus:ring-offset-2 transition-all;
  }
  .btn-danger {
    @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
    dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
  }

  .form-control {
    @apply relative z-0 mb-6 w-full;
    input {
      @apply block py-2.5 px-2 w-full shadow-inner text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
      focus:ring-0 focus:border-blue-600;
    }
    label {
      @apply text-sm px-2 text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0];
    }
  }
  .button-group {
    @apply w-1/2 space-y-1 mx-auto xl:space-y-0 grid xl:grid-cols-2 xl:gap-12;
  }

}


