@tailwind base;
@tailwind components;
@tailwind utilities;

$disabled: rgba(106, 111, 109, 0.31);

:disabled {
  background-color: $disabled;
  &:hover {
    background-color: $disabled;
  }
}

@layer components {
  .btn {
    @apply font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }
  .btn-primary {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }
  .form-control {
    @apply relative z-0 mb-6 w-full;
    input {
      @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
      appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600;
    }
    label {
      @apply text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0];
    }
  }

}


